<!-- home.html -->


{% extends "base.html" %}

{% load staticfiles %}

	{% block title %}
		Welcome to blablatickets
	{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css '%}"
{% endblock %}

{% block content %}
		<h1> 
			Welcome {{ user.username }} !!! 
		</h1> 
		<br/>
		<button type="button" onclick="window.location.href='/step2/view_stuff/' ">Buy Tickets</button>
		<button type="button" onclick="window.location.href='/step2/about/' ">Submit Package</button>
		<br/><br/>
		<button type="button" onclick="window.location.href='/logout/' ">Logout</button>
{% endblock %}
